---
import PockemonHeader from '../components/PockemonHeader.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>EvilUnion</title>
	</head>
	<body>
		<div class="main-layout">
			<div class="pockemon-container">
				<PockemonHeader />

				<div class="pockemons-main">
					<slot />
				</div>
			</div>
		</div>
	</body>
</html>

<style>
	@font-face {
		font-family: 'Raleway';
		font-style: normal;
		font-weight: 500;
		src: url('/fonts/raleway-regular.woff2') format('woff2');
	}

	@font-face {
		font-family: 'Raleway';
		font-style: weight;
		font-weight: 700;
		src: url('/fonts/raleway-700.woff2') format('woff2');
	}

	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		font-size: 14px;
		color: #fff;
		font-family: 'Raleway', 'Arial';
	}

	.main-layout {
		width: 100%;
		height: 100%;
		background-color: #2e2e2e;

		display: flex;
		justify-content: center;
		align-items: center;
	}

	.pockemon-container {
		padding-inline: 150px;
		min-width: 1280px;
	}

	.pockemons-main {
		display: flex;
		height: 500px;
	}
</style>
